.Nav{
  /* margin: 30px; */
  justify-content: space-evenly;
  font-size: larger;
  text-align: center;
  padding: 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: rgb(158, 209, 253);
  box-shadow: 0 5px rgb(88, 88, 88);
  user-select: none;
}

.Nav:hover{background-color: rgb(132, 255, 204);}

.Nav:active{
  box-shadow: 0 2px #000;
  background-color: rgb(228, 255, 132);
  transform: translateY(3px);
}

#Navigation{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

#Title{
  text-align: center;
}

.Main{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*{
  background-color: rgb(203, 252, 236);
}

.Button{
  margin-top: 10px;
}