.Nav{
  display: inline-flex;
  justify-content: space-around;
  /* margin: 30px; */
  text-align: center;
  font-size: larger;

}

.Main{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*{
  background-color: rgb(203, 252, 236);
}

.Button{
  margin-top: 10px;
}